export(frair_fit, frair_boot, frair_compare, frair_test, frair_responses, drawpoly, drawpoly.default)

export(typeI, typeI_fit, typeI_nll, typeI_diff, typeI_nll_diff)
export(rogersII, rogersII_fit, rogersII_nll, rogersII_diff, rogersII_nll_diff)
export(hollingsII, hollingsII_fit, hollingsII_nll, hollingsII_diff, hollingsII_nll_diff)
export(hassIII, hassIII_fit, hassIII_nll, hassIII_diff, hassIII_nll_diff)
export(hassIIInr, hassIIInr_fit, hassIIInr_nll, hassIIInr_diff, hassIIInr_nll_diff)
export(emdII, emdII_fit, emdII_nll, emdII_diff, emdII_nll_diff)
export(flexp, flexp_fit, flexp_nll, flexp_diff, flexp_nll_diff)
export(flexpnr, flexpnr_fit, flexpnr_nll, flexpnr_diff, flexpnr_nll_diff)

# Deprecated (warning) exports
export(hassIIIr, hassIIIr_fit, hassIIIr_nll, hassIIIr_diff, hassIIIr_nll_diff)

# Deprecated (error) exports
export(bdII, bdII_fit, bdII_nll, bdII_diff, bdII_nll_diff)
export(real77, real77_fit, real77_nll, real77_diff, real77_nll_diff)
export(real77r, real77r_fit, real77r_nll, real77r_diff, real77r_nll_diff)

# Methods
S3method(predict, frfit)
S3method(print, frfit)
S3method(plot, frfit)
S3method(lines, frfit)

S3method(print, frboot)
S3method(plot, frboot)
S3method(lines, frboot)
S3method(confint, frboot)
S3method(drawpoly, default)
S3method(drawpoly, frboot)

S3method(print,frconf)

S3method(print,frtest)

# Imports
importFrom("parallel", "detectCores")
importFrom("boot", "boot", "boot.ci")
importFrom("lamW", "lambertW0")
importFrom("RcppParallel", "setThreadOptions")

# Extra imports for depends objects (just to be sure!)
importFrom("stats4",
           "coef", "confint", "logLik", "summary", "vcov", "profile",
           "AIC", "BIC")
importFrom("bbmle", 
           "mle2", "coef", "confint", "logLik", "summary", "vcov", "profile",
           "AIC", "AICc", "qAICc", "qAIC",
           "anova", "deviance", "residuals", "simulate", "predict", "formula")


# Imports for 'core' packages
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "lines", "plot", "polygon")
importFrom("stats", "binomial", "dbinom", "glm", "na.omit", "pnorm",
           "printCoefmat", "quantile", "terms")
importFrom("utils", "flush.console")